* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #111216;
}

/* common css */
.text-color-1 {
  color: rgb(231, 235, 239);
}
.text-color-2 {
  color: rgb(126, 138, 154);
}

.container {
  padding: 0 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #13151a;
  border-bottom: 1px solid gainsboro;
}
.logo {
  font-size: 1rem;
  color: #ec7150;
  font-weight: 400px;
  line-height: 24px;
}
.nav-list {
  display: none;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 15px;
  color: #7e8a9a;
  list-style: none;
  font-size: 0.87rem;
}
.nav-list a {
  color: black;
  text-decoration: none;
}
.hamburger {
  font-size: 24px;
  cursor: pointer;
}
.nav-list.active {
  display: flex;
}

/* Common css */
.span-highlight-1 {
  color: white;
}
.span-highlight {
  color: #ec7150;
}
.para-info {
  font-size: 1rem;
  color: rgb(126, 138, 154);
  line-height: 1.5rem;
}

#hero {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}
.hello-para {
  color: #ec7150;
}
.first-name {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
  padding: 2rem 0;
}
.hero-btn {
  padding: 3rem 0;
}
.skill-title {
  color: #7e8a9a;
  padding-bottom: 1rem;
}

.btn {
  padding: 1rem;
  font-size: 0.87rem;
  border-radius: 10px;
  outline: none;
  margin-right: 1rem;
}
.view-project-btn {
  background-color: #ec7150;
  color: black;
  border: none;
}
.contact-me-btn {
  background-color: #13151a;
  border: 0.2px solid #7e8a9a;
  color: white;
}

/* about section */
#about {
  padding: 4rem;
  margin-bottom: 4rem;
  /* width: 100%;
  height: 100vh;
  padding: 1rem; */
}
.second-heading {
  color: rgb(231, 235, 239);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  padding: 20px 0;
}
.third-heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(231, 235, 239);
}
.about-me-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.about-me-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.about-work {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 0.2px solid #7e8a9a;
  gap: 10px;
  border-radius: 10px;
}
img {
  background-color: #291e20;
  padding: 10px;
  border-radius: 10px;
}

/* skill secttion */
#skills {
  padding: 4rem;
  margin-bottom: 4rem;
}
.technologies-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0 5rem 0;
}
.tech-box {
  background-color: #13151a;
  border: 1px solid #7e8a9a;
  padding: 2rem;
  border-radius: 8px;
  flex: 1;
  height: 100%;
}

.tech-span {
  background-color: #3d2625;
  color: #ec7150;
  border: 1px solid #ec7150;
  padding: 8px;
  border-radius: 1.5rem;
  font-size: 14px;
}
.techology-list {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  flex-wrap: wrap;
}

/* projects */
#projects {
  padding: 4rem;
  margin-bottom: 4rem;
}

.first-line-projects {
  display: flex;
  align-items: center;
}
.project-box {
  flex: 1;
  /* opacity: 0.1; */
  border: 0.3px solid #7e8a9a;

  border-radius: 10px;
  padding: 2rem;
}
.technology {
  display: flex;
  color: rgb(126, 138, 154);
  list-style: none;
  gap: 10px;
  font-size: 12px;
  padding: 1rem 0;
}
.technology li {
  padding: 5px;
  border-radius: 8px;
  background-color: #1e2229;
}
.project-link {
  display: flex;
}
.icon {
  background-color: none;
  width: 30px;
}

.contact {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin-bottom: 4rem; */
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.contact-description {
  margin-bottom: 3rem;
}
.contact-form {
  background-color: #13151a;
  border: 1px solid #2d3139;
  padding: 2.5rem;
  border-radius: 16px;
  text-align: left;
}
.input-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

label {
  color: #7e8a9a;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Input & Textarea Styling */
input,
textarea {
  background-color: #1e2229;
  border: 1px solid #2d3139;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: white;
  font-size: 1rem;
  outline: none;
}

/* responsive for table */

@media (min-width: 768px) {
  .nav-list {
    display: flex;
    position: static;
    flex-direction: row;
  }
  .hamburger {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav-list {
    display: flex;
    position: static;
    flex-direction: row;
    background-color:;
  }
  .hamburger {
    display: none;
  }
}
